.path {
  height: 87px;
  display: flex;
  align-items: center;
  color: var(--color-grey-path);
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  padding-left: 62px;
}

@media (max-width: 768px) {
  .path {
    padding: 15px;
    flex-wrap: wrap;
    height: 40px;
  }
}
